{% extends 'base.html' %}
{%block body%}
<div id="main">

    <section class="testimonials" class="page" style="margin: 3%;">
        <h2 style="margin-left: 45%;">Testimonials</h2>
        <blockquote>
            <p>"I was having a lot of trouble with cybersecurity issues until I found Cyberoctet.
                This company was able to solve all of my problems efficiently and effectively.
                They have a team of experts who know exactly what they are doing and are able to identify
                vulnerabilities in my system that I didn't even know existed. Their services are top-notch
                and their customer support is excellent. I highly recommend Cyberoctet to anyone who needs
                help with cybersecurity."</p>
            <cite>Jayneel Shah</cite>
        </blockquote>
        <br><br><br>
        <blockquote>
            <p>"Cyberoctet is a fantastic company that provides excellent cybersecurity solutions. They were able to
                quickly identify and resolve all of my cybersecurity issues. Their team is very knowledgeable and
                always provides excellent customer service. I was impressed with their attention to detail and the
                level of expertise they bring to the table. I would highly recommend Cyberoctet to anyone looking
                for high-quality cybersecurity services. They are truly the best in the business."</p>
            <cite>Het Patel</cite>
        </blockquote>
    </section>
</div>
<br><br>
{%endblock body%}